.btn {
  background-color: #f6f6f6;
  border-radius: 5px;
  color: #303030;
  font-family: 'MSemiBold';
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border: none;
}

.btn--secondary {
  background-color: transparent;
}
